<form action="" method="get">
	<h2>
		{% set curType = machineType %}
		Smalldb State Machine:
		<input type="hidden" name="panel" value="{{ panel }}">
		<input type="hidden" name="page" value="machine">
		<label>
			<select name="machine" onchange="this.form.submit()" class="card" style="margin: 0;">
				{% for d in collector.getDefinitions() -%}
					{%- set type = d.getMachineType() -%}
					<option{{ type == curType ? " selected" }} value="{{ type }}" class="font-normal">{{ type }}</option>
				{%- endfor %}
			</select>
			<input type="submit" value="»" id="heading-hidden-submit">
			<script type="text/javascript">
				document.getElementById('heading-hidden-submit').style.display = 'none';
			</script>
		</label>
	</h2>
</form>

<div class="metrics">

	<div class="metric">
		<span class="value">{{definition.states | length}}</span>
		<span class="label">States</span>
	</div>

	<div class="metric">
		<span class="value">{{definition.transitions | length}}</span>
		<span class="label">Transitions</span>
	</div>

	<div class="metric">
		<span class="value">{{definition.properties | length}}</span>
		<span class="label">Properties</span>
	</div>

	<div class="metric">
		<span class="value {{ definition.errors is empty ? "text-muted" : "text-danger"}}">
			{{definition.errors | length}}
		</span>
		<span class="label">Errors</span>
	</div>

	<div class="metric">
		<span class="value" style="font-size: 14px; height: 51px">
				{{ mtime | date('Y-m-d')}}<br>
				{{ mtime | date('H:i:s') }}
		</span>
		<span class="label">Last modified</span>
	</div>
</div>

{% if definition.errors is not empty %}
<h3 class="text-danger">Errors</h3>
<ul>
	{% for error in definition.errors %}
	<li class="text-danger">{{ error.getMessage() }}</li>
	{% endfor %}
</ul>
{% endif %}

<h3>State Diagram</h3>

<div class="card" style="padding: 3em; overflow: auto;">
	{{ stateChart | raw }}
</div>

{% if sourceFiles is not empty %}
	<h3>Source Files</h3>
	<ul>
		{% for sourceFile in sourceFiles %}
			<li><code>{{ sourceFile.getFilename() }}</code></li>
		{% endfor %}
	</ul>
{% endif %}

{% if sourceDiagrams is not empty %}
<h3>Source Diagrams</h3>
<div class="sf-tabs">
{% for diagram in sourceDiagrams %}
	<div class="tab ">
		<h4 class="tab-title">{{ diagram.heading }}</h4>
		<div class="tab-content">
			<div class="card" style="padding: 3em; overflow: auto;">
				{{ diagram.svg | raw }}
			</div>
		</div>
	</div>
{%  endfor %}
</div>
{% endif %}

{# FIXME: Link to JS file rather than inline it. #}
<!-- <script type="text/javascript" src="{{ path('_profiler', { panel: 'smalldb', token: token, page: 'grafovatko' }) }}"></script> -->
<script type="text/javascript">
	//<![CDATA[
		{{ grafovatko_js|raw }}
	//]]>
</script>

<script type="text/javascript">
if (G) {
	console.log('Grafovatko %s.', G.version);
	const graphElements = document.getElementsByClassName('grafovatko');
	window.grafovatkoView = [];
	for (const el of graphElements) {
		window.grafovatkoView.push(new G.GraphView(el));
	}
} else {
	console.error("Grafovatko library is not loaded.");
}
</script>


<h3>State machine definition:</h3>
{{ dump(definition) }}

