{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
	{% if collector.machineTypes is not empty %}
		{% set icon %}
			{{include('@Smalldb/data_collector/crud-icon.grey.svg')}}
			<div class="sf-toolbar-value">
				<span>{{collector.referencesCreatedCount}}</span> <span class="sf-toolbar-label">ref.</span>
				<span>{{collector.transitionsInvokedCount}}</span> <span class="sf-toolbar-label">tr.</span>
			</div>
		{% endset %}

		{% set text %}
			<div class="sf-toolbar-info-piece">
				<b>Smalldb </b>
			</div>
			<hr>

			<div class="sf-toolbar-info-piece">
				<b>Machines defined:</b>
				<span class="sf-toolbar-status">{{collector.machineTypes | length}}</span>
			</div>

			<div class="sf-toolbar-info-piece">
				<b>References created:</b>
				<span class="sf-toolbar-status">{{collector.referencesCreatedCount}}</span>
			</div>

			<div class="sf-toolbar-info-piece">
				<b>Transitions invoked:</b>
				<span class="sf-toolbar-status">{{collector.transitionsInvokedCount}}</span>
			</div>
		{% endset %}

		{{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': true }) }}
	{% endif %}
{% endblock %}


{% block head %}
	{{ parent() }}
{% endblock %}


{% block menu %}
	<span class="label{{ collector.definitions is empty ? " disabled"}}">
		<span class="icon">{{include('@Smalldb/data_collector/crud-icon.grey.svg')}}</span>
		<strong>Smalldb</strong>
	</span>
{% endblock %}


{% block panel %}
	{% if page == 'machine' %}
		{{ render(controller('Smalldb\\SmalldbBundle\\Controller\\ProfilerController::machineAction', {
			token: token,
			panel: panel,
			machine: request.query.get('machine'),
		})) }}
	{% elseif page == 'overview' %}
		{{ render(controller('Smalldb\\SmalldbBundle\\Controller\\ProfilerController::overviewAction', {
			token: token,
			panel: panel,
		})) }}
	{% else %}
		<h2>Smalldb</h2>
		{{  block('stats') }}
		{{ block('state_machine_list') }}
		{{ block('activity_log') }}
	{% endif %}
{% endblock %}


{% block stats %}
	<div class="metrics">

		<div class="metric">
			<span class="value">{{collector.definitions | length}}</span>
			<span class="label">State machines</span>
		</div>

		<div class="metric">
			<span class="value">{{collector.referencesCreatedCount}}</span>
			<span class="label">References created</span>
		</div>

		<div class="metric">
			<span class="value">{{collector.transitionsInvokedCount}}</span>
			<span class="label">Transitions invoked</span>
		</div>

	</div>
{% endblock %}


{% block state_machine_list %}
	<h3>Defined State Machines</h3>
	{% if collector.machineTypes is empty %}
		<div class="empty">
			<p>No state machines defined.</p>
		</div>
	{% else %}
		<div class="card">
			{% for type in collector.machineTypes -%}
				{%- if page == "machine" and request.query.get('machine') == type -%}
					<b class="status-warning"><a href="{{ path('_profiler', { panel: panel, token: token, page: 'machine', machine: type }) }}">{{type}}</a></b>
				{%- else -%}
					<span><a href="{{ path('_profiler', { panel: panel, token: token, page: 'machine', machine: type }) }}">{{type}}</a></span>
				{%- endif -%}
				{%- if not loop.last -%}, {% endif %}
			{%- endfor %}
		</div>
	{% endif %}
{% endblock %}


{% block activity_log %}
	<h3>Activity Log</h3>
	{% if collector.getLog() is empty %}
	<div class="empty">
		<p>Nothing happened in Smalldb.</p>
	</div>
	{% else %}
	<table>
		<col width="1%">
		<col width="10%">
		<col width="10%">
		<col width="20%">
		<col>
		<col width="10%">
		<thead>
		<tr>
			<th>#</th>
			<th>Machine</th>
			<th>ID</th>
			<th>Event</th>
			<th>Details</th>
			<th class="text-right">Class</th>
		</tr>
		</thead>
		<tbody>
		{% for i, e in collector.log %}
		<tr>
			<td nowrap class="text-muted">{{i}}</td>
			<td nowrap>
				{% if e.machine_type is defined %}
				<a href="{{ path('_profiler', { panel: 'smalldb', token: token, page: 'machine', machine: e.machine_type }) }}">{{e.machine_type}}</a>
				{% endif %}
			</td>
			<td nowrap>
				{% if e.id is defined %}
				{{dump(e.id)}}
				{% endif %}
			</td>
			{% if e.event is not defined %}
			<td class="font-normal">
				Corrupted event:
			</td>
			<td class="font-normal">
				{{dump(e)}}
			</td>
			{% elseif e.event == "afterMachineCreated" %}
			<td class="font-normal text-muted">
				Machine created.
			</td>
			<td class="font-normal text-muted">
				{% if e.backend %}
				by {{e.backend | abbr_class}}
				{% endif %}
			</td>
			{% elseif e.event == "afterReferenceCreated" %}
				{% if e.properties is defined and e.properties %}
			<td class="font-normal">
				Reference created (cache&nbsp;preheated).
			</td>
			<td class="font-normal">
				<span style="border: 1px solid; border-radius: 1em; padding: 0.2em 0.6em;">
					{%- if e.properties['state'] %}<span>{{e.properties['state']}}</span>{% else %}<i class="text-muted">not exists</i>{% endif -%}
				</span>
				{# Try to show something useful, but not everything as it is usually too much #}
				{% if e.properties['title'] is defined %}
				{{dump(e.properties['title'])}}
				{% elseif e.properties['name'] is defined %}
				{{dump(e.properties['name'])}}
				{% elseif e.properties['label'] is defined %}
				{{dump(e.properties['label'])}}
				{% elseif e.properties['login'] is defined %}
				{{dump(e.properties['login'])}}
				{% endif %}
			</td>
				{% else %}
			<td class="font-normal" colspan="2">
				Reference created.
			</td>
				{% endif %}
			{% elseif e.event == "afterListingCreated" %}
			<td class="font-normal">
				Listing created.
			</td>
			<td class="font-normal">
				{{dump(e.filters)}}
			</td>
			{% elseif e.event == "beforeTransition" %}
			<td class="font-normal">
				Transition invoked.
			</td>
			<td class="font-normal">
				<span style="border: 1px solid; border-radius: 1em; padding: 0.2em 0.6em;">
					{%- if e.old_state %}<span>{{e.old_state}}</span>{% else %}<i class="text-muted">not exists</i>{% endif -%}
				</span>
				<b style="border-bottom: 1px solid; padding: 0 1.5em; position: relative; top: -0.5em;">{{e.transition}}</b>▶
				…
			</td>
			{% elseif e.event == "afterTransition" %}
			<td class="font-normal">
				Transition completed.
			</td>
			<td class="font-normal">
				<span style="border: 1px solid; border-radius: 1em; padding: 0.2em 0.6em;">
					{%- if e.old_state %}<span>{{e.old_state}}</span>{% else %}<i class="text-muted">not exists</i>{% endif -%}
				</span>
				<span style="border-bottom: 1px solid; padding: 0 1.5em; position: relative; top: -0.5em;">{{e.transition}}</span>▶
				<b style="border: 1px solid; border-radius: 1em; padding: 0.2em 0.6em;">
					{%- if e.new_state %}<span>{{e.new_state}}</span>{% else %}<i>not exists</i>{% endif -%}
				</b>
			</td>
			{% else %}
			<td class="font-normal" colspan="2">
				Unknown event:
				{{dump(e)}}
			</td>
			{% endif %}
			<td class="text-right text-muted" nowrap>
				{% if e.class is defined %}
				{{e.class | abbr_class}}
				{% endif %}
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	{% endif %}
{% endblock %}

